<script id="salesRow.html" type="text/ng-template">
<!--something-->
  <!--<td ng-if-start='sale !=activeSale'>{{sale.period | date:'MMMM yyyy'}}</td>-->
  <!--<td>{{sale.country.name}}</td>-->
  <!--<td>{{sale.brand.brandName}}</td>-->
  <!--<td>{{sale.businessUnit.unitName}}</td>-->
  <!--<td>{{sale.invoiceSale}}</td>-->
  <!--<td>{{sale.inMarketSale}}</td>-->
  <!--<td>{{sale.monthlyForecast}}</td>-->
  <!--<td>{{sale.casePrice | currency:"£"}}</td>-->
  <!--<td>{{sale.rollPrice}}</td>-->
  <!--<td>{{sale.packPrice}}</td>-->
  <!--<td>{{sale.stickPrice}}</td>-->
  <!--<td><a ng-click="editSale()">Edit</a></td>-->
  <!--<td ng-if-end><a ng-click="deleteSale()">Delete</a></td>-->


  <!--<td ng-if-start="sale === activeSale"><input class="form-control" type="month" ng-model="sale.period"/></td>-->
  <!--<td><select class="form-control" ng-change="getBrands(sale.country)" ng-model="sale.country"-->
              <!--ng-options="country.name for country in countries"></select></td>-->
  <!--<td><select class="form-control" ng-model="sale.brand"-->
              <!--ng-options="brand.brandName for brand in filteredBrands"></select></td>-->

  <!--<td><select class="form-control" ng-model="sale.businessUnit"-->
              <!--ng-options="bu.unitName for bu in businessunits"></select></td>-->
  <!--<td><input class="form-control" type="text" ng-model="sale.invoiceSale"/></td>-->
  <!--<td><input class="form-control" type="text" ng-model="sale.inMarketSale"/></td>-->
  <!--<td><input class="form-control" type="text" ng-model="sale.monthlyForecast"/></td>-->
  <!--<td><input class="form-control" type="text" ng-model="sale.casePrice"/></td>-->
  <!--<td><input class="form-control" type="text" ng-model="sale.rollPrice"/></td>-->
  <!--<td><input class="form-control" type="text" ng-model="sale.packPrice"/></td>-->
  <!--<td><input class="form-control" type="text" ng-model="sale.stickPrice"/></td>-->
  <!--<td><a ng-click="updateSale()">UpdateSale</a></td>-->
  <!--<td ng-if-end><a ng-click="cancelEdit()">Cancel</a></td>-->
<h2>I am here</h2>
</script>

