<form name="ratSalesVolumeForm" novalidate >
  <div class="container-fluid ">
    <h2>RAT Sales Volume</h2>
    <hr/>
    <div class="row">
      <div class="col-md-6 ">
        <div class="form-group"><label for="">Business Unit</label>
          <select class="form-control" ng-model="selectedBusinessUnit"
                  ng-options="bu.unitName for bu in businessunits"></select>
        </div>
        <div class="form-group"><label for="">Period</label>
          <input required name="period" type="month" placeholder="yyyy-MM-dd" required ng-model="period" class="form-control">
          <span ng-show="ratSalesVolumeForm.period.$error.required">Required! </span>
        </div>
        <div class="form-group"><label for="">Country</label>
          <select class="form-control" ng-change="getBrands(country)" ng-model="country"
                  ng-options="country.name for country in countries"></select>
        </div>
        <div class="form-group"><label for="">Brand</label>
          <select class="form-control" ng-model="brand"
                  ng-options="brand.brandName for brand in filteredBrands"></select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"><label for="">Invoice Sale</label>
          <input  type="text" name="invoiceSale" required class="form-control" ng-model="invoiceSale" integer/>
          <!--<span class='help-block' ng-show='ratSalesVolumeForm.invoiceSale.$error.required'>Invoice sale is required</span>-->
          <span class='help-block' ng-show='ratSalesVolumeForm.invoiceSale.$error.integer'>Invoice sale should be a whole number</span>
        </div>
        <div class="form-group"><label for="">In-Market Sales</label>
          <input class="form-control" name="inMarketSale" type="text" ng-model="inMarketSales" integer/>
          <span class='help-block' ng-show='ratSalesVolumeForm.inMarketSale.$error.integer'>In Market sale should be a whole number</span>
        </div>
        <div class="form-group"><label for="">Monthly Forecast</label>
          <input class="form-control" type="number" ng-model="monthlyForecast"></input>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group"><label for="">Case Price</label>
          <input class="form-control" type="number" ng-model="casePrice"></select>
        </div>
        <div class="form-group"><label for="">Roll Price</label>
          <input class="form-control" type="number" ng-model="rollPrice"></select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"><label for="">Pack Price</label>
          <input class="form-control" type="number" ng-model="packPrice"></select>
        </div>
        <div class="form-group"><label for="">Stick Price</label>
          <input class="form-control" type="number" ng-model="stickPrice"></select>
        </div>
      </div>
    </div>
    <hr/>
    <div class="well container-fluid">
      <div class="pull-right">
        <button ng-click="save()" class="btn btn-default" ng-disabled='ratSalesVolumeForm.$invalid'>Save</button>
        <button class="btn btn-default">cancel</button>
      </div>
    </div>
    <div>
      <table class="table">
        <thead>
        <tr>
          <th>Period</th>
          <th>Country</th>
          <th>Brand</th>
          <th>Business Unit</th>
          <th>Invoice Sales</th>
          <th>Market Sales</th>
          <th>Monthly Forecast</th>
          <th>Case Price</th>
          <th>Roll Price</th>
          <th>Pack Price</th>
          <th>Stick Price</th>
        </tr>
        </thead>
        <tbody sales-row ng-repeat="sale in filteredSales">
        <tr ng-if="sale !== activeSale">
          <td>{{sale.period | date:"MMMM yyyy"}}</td>
          <td>{{sale.country.name}}</td>
          <td>{{sale.brand.brandName}}</td>
          <td>{{sale.businessUnit.unitName}}</td>
          <td>{{sale.invoiceSale}}</td>
          <td>{{sale.inMarketSale}}</td>
          <td>{{sale.monthlyForecast}}</td>
          <td>{{sale.casePrice | currency:"£"}}</td>
          <td>{{sale.rollPrice}}</td>
          <td>{{sale.packPrice}}</td>
          <td>{{sale.stickPrice}}</td>
          <td><a ng-click="edit(sale)">Edit</a></td>
          <td><a ng-click="delete(sale)">Delete</a></td>
        </tr>
        <tr ng-if="sale === activeSale" >
          <td><input class="form-control" type="month" ng-model="sale.period"/></td>
          <td> <select class="form-control" ng-change="getBrands(sale.country)" ng-model="sale.country"
                       ng-options="country.name for country in countries"></select></td>
          <td> <select class="form-control" ng-model="sale.brand"
                       ng-options="brand.brandName for brand in filteredBrands"></select></td>

          <td><select class="form-control" ng-model="sale.businessUnit"
                       ng-options="bu.unitName for bu in businessunits"></select></td>
          <td><input class="form-control" type="text" ng-model="sale.invoiceSale"/></td>
          <td><input  class="form-control" type="text" ng-model="sale.inMarketSale"/></td>
          <td><input class="form-control" type="text" ng-model="sale.monthlyForecast"/></td>
          <td><input class="form-control" type="text" ng-model="sale.casePrice"/></td>
          <td><input class="form-control" type="text" ng-model="sale.rollPrice"/></td>
          <td><input class="form-control" type="text" ng-model="sale.packPrice"/></td>
          <td><input class="form-control" type="text" ng-model="sale.stickPrice"/></td>
          <td><a ng-click="edit(sale)">Update</a></td>
          <td><a ng-click="cancel(sale)">Cancel</a></td>
        </tr>
        </tbody>
      </table>
      <pagination class="pull-right" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
  </div>
</form>
