<form action="">
  <div class="container-fluid">
    <div class="container-fluid">
    </div>
    <h2>Competition Sales Volume</h2>
    <hr/>
    <div class="row container-fluid well">
      <div class="pull-right">
        <button type="submit" class="btn btn-default">Save</button>
        <button class="btn btn-default">cancel</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group"><label for="">Business Unit</label>
          <select class="form-control" id=""></select>
        </div>
        <div class="form-group"><label for="">Country</label>
          <select class="form-control"></select>
        </div>
        <div class="form-group"><label for="">Brand</label>
          <select class="form-control"></select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"><label for="">Flavour</label>
          <select class="form-control"></select>
        </div>
        <div class="form-group"><label for="">Variant</label>
          <select class="form-control"></select>
        </div>
        <div class="form-group"><label for="">Price</label>
          <input class="form-control"></select>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <div class="checkbox">
          <label><input type="checkbox"> Horeca</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Consumer</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Retailer</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Wholesale</label>
        </div>
        <div class="form-group"><label for="">Budget</label>
          <input class="form-control"></input>
        </div>
        <div class="form-group"><label for="">Start Date</label>
          <input class="form-control" type="date"></input>
        </div>
        <div class="form-group"><label for="">End Date</label>
          <input class="form-control" type="date"></input>
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <textarea class="form-control" type="text"/></div>
      </div>
      <div class="col-md-6">
        <div class="checkbox">
          <label><input type="checkbox"> Free Product Offer</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Volume Drive</label>
        </div>
      </div>
    </div>
    <hr/>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group"><label for="">Campaign Objective</label>
          <textarea class="form-control"></textarea>
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-inline">
          <div class="checkbox">
            <input class="radio" value="1" type="radio">Completed
          </div>

          <div class="checkbox">
            <input value="2" type="radio">Aborted
          </div>
          <div class="checkbox">
            <input value="3" type="radio">Postponed
          </div>
        </div>
      </div>
    </div>
    <hr/>
  </div>
</form>
